windows/
ios/
build/
android/
test/
.DS_Store
comrade.iml
analysis_options.yaml
*.packages
*.metadata
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/android
.dart_tool/build
.dart_tool/ios
.dart_tool/windows
.dart_tool/flutter_build
.dart_tool/
.idea/
web/

.dart_tool/version
.dart_tool/package_config.json
.dart_tool/package_config_subset
.packages
lib/.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
